# SPDX-License-Identifier: ISC

# From mt7921 we only changed to 7902 lets check

config MT7902_COMMON
	tristate
	select MT792x_LIB
	select WANT_DEV_COREDUMP

config MT7902E
	tristate "MediaTek MT7921E (PCIe) support"
	select MT7902_COMMON
	depends on MAC80211
	depends on PCI
	help
	  This adds support for MT7921E 802.11ax 2x2:2SS wireless devices.

	  To compile this driver as a module, choose M here.

config MT7902S
	tristate "MediaTek MT7921S (SDIO) support"
	select MT76_SDIO
	select MT7902_COMMON
	depends on MAC80211
	depends on MMC
	help
	  This adds support for MT7921S 802.11ax 2x2:2SS wireless devices.

	  To compile this driver as a module, choose M here.

config MT7902U
	tristate "MediaTek MT7921U (USB) support"
	select MT792x_USB
	select MT7902_COMMON
	depends on MAC80211
	depends on USB
	help
	  This adds support for MT7921U 802.11ax 2x2:2SS wireless devices.

	  To compile this driver as a module, choose M here.
